.input-row {
  margin: 50px 0 0 30px;
  display: flex;
}

.ttt {
  margin-right: 10px;
  width: 700px;
  height: 50px;
  transition: 0.2s;
}
.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  background-color: #fff;
  background-image: none;
  color: #000;
  cursor: pointer;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border-radius: 99rem;
  border-width: 0.2px;
  padding: 0.8rem 3rem;
  transition: 0.2s ease;
}

.btn-1:hover {
  background-color: #1023d7;
  color: #fff;
}
